@font-face {
    font-family: 'NotoSansKR-R';
    font-style: normal;
    src: url('./NotoSansKR-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NotoSansKR-B';
    font-style: normal;
    src: url('./NotoSansKR-Bold.woff') format('woff');
}